/*
*
* Title: Eine Website über Australien
* Author: Dejvi Nika
* Date: 28.03.2022
*
*/ 



/********************** General Styling ***********************/

body {
	margin: 0;

}

/* Navigation */

nav {
	background-color: steelblue;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav img {
	height: 80px;
	border-radius: 50%;

}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

nav ul li a {
	margin: 10px;
	padding: 20px;
	background-color: orange;
	color: steelblue;
	text-decoration: none;
	border-radius: 10px;
}

nav ul li a:hover {
	background-color: darkblue;
	color: white;
}

/* Header*/
 header {
 	height: 400px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background-size: cover;
 	background-position: center;
 }

 header h1 {
 	padding: 30px;
 	background-color: rgba(255,255,255,0.65);
 	font-size: 40px;
 	border-radius: 20px;
 }

 /* Main */

 main {
 	padding: 80px;
 }

/* Footer */
 footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background: linear-gradient(0deg, rgba(31,103,153,1) 5%, rgba(31,177,191,1) 41%, rgba(37,232,213,1) 80%);
 }

 footer p {
 	margin: 10px;
	padding: 20px;
	background-color: orange;
	color: black;
	text-decoration: none;
	border-radius: 10px;
 }

 /****************************** Page Styling ***********************************/

 /* Home Page */

 #home header {
 	background-image: url(bg.jpg);
 }

 #home main {
 	background-color: lightblue;
 }

 #home main h2 {
 	background-color: lightcoral;
 }


 /* Earth Page */

 #earth header {
 	background-image: url(earth-bg.jpg);
 }

 #earth main {
 	background-color: #0061fc;
 }

 #earth section {
 	display: flex;
 	justify-content: space-between;
 	align-items: stretch;
 }

 #earth section .left {
 	width: 30%;
 	background-color: orange;
 }

 #earth section .right {
 	width: 70%;
 	background-color: #d84dff;
 }

  /* Continents Page */

 #continents header {
 	background-image: url(Continents-bg.jpg);
 }

 #continents main {
 	background-color: #09d6cf;
 }

 #continents main h2 {
	background-color: #eb811e;
 }

 #continents section {
 	display: flex;
 	justify-content: space-between;
 	align-items: stretch;
 }

 #continents section .left {
 	width: 30%;
 	background-color: orange;
 }

 #continents section .right {
 	width: 70%;
 	background-color: #d84dff;
 }